.title{
    text-align: center;
    padding-top: 2%;
}
.tutorialQ{
    text-align: center;
    padding: 1%;
}
.tutorial{
    text-align: center;
}
.dis{
    padding: 1%;
    text-align: center;
}
.fileInput{
    padding-top: 2%;
    text-align: center;
}
.infoInput{
    padding: 1%;
    text-align: center;
}